{% load static i18n custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/tab.css'%}">
    <link rel="icon" type="image/x-icon" href="{{general.favicon.url}}">
    <title>Torch</title>
     <style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 300000000; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0 0 0 / 76%);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 @media screen and (max-width: 450px){


    .langgg{
right: 213px !important;
    position: absolute;
    z-index: 1000000;
    top: 50px !important;
    }
    .langggg{
    right: 124px !important;
    position: absolute;
    z-index: 1000000;
    top: 0px !important;
    }
}
 @media screen and (max-width: 450px){
.modal-content {
    width: 80% !important;
}
.langimage{
width:45px !important;
margin-right:15px !important;
}
}
</style>
</head>
<body>

    <header>
             <img class="langgg" src="{% static 'world.png'%}" style="width: 20px;cursor:pointer;height: unset;float: right;right: 240px;position: absolute;z-index: 1000000;top: 45px;" id="myBtn">
        <form class="langggg" action="{% url 'set_language' %}" style=" height: unset; float: right; right: 165px; position: absolute; z-index: 1000000; top: 43px; " method="post">  {#2#}

 {% csrf_token %}  {#3#}
                        <select name="language" class="lng" id="lang">  {#4#}
                            {% get_current_language as LANGUAGE_CODE %}  {#5#}
                            {% get_available_languages as LANGUAGES %}  {#6#}
                            {% get_language_info_list_ex request as cccc %}  {#6#}
                            {% get_language_info_list for LANGUAGES as languages %}  {#7#}
                            {% for language in cccc %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    <span class="flag">{{ language.flag }}</span>  {#8#}
                                     {{ language.code }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
           <script>



        $(document).ready(function () {
            c = $("input[name='csrfmiddlewaretoken']").val();

            $(".lng").on("change", function () {
                lng = $(this).val();
                $.ajax({
                    url: "{% url 'set_language' %}",
                    method: 'POST',
                    data: {language: lng, csrfmiddlewaretoken: c},
                    success: function () {
                        location.reload();
                    },
                    error: function (e) {
                        $("body").html(e.responseText);
                    }
                })
            });

          });





	</script>
        <nav>
            <a href="{% url 'index'%}">
                <div class="logo">
                    <img src="{{general.logo.url}}" alt="">
                   </div>
            </a>
            

            <div class="burger-menu menu-bar">
                <div class="menu-main">{% trans 'MENU'%}</div>
                <div class="lines">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line1"></div>
                </div>
            </div>
        </nav>
    </header>

    <section class="burger-menu-content menu">

      
        <div class="x-btn close">
            <div class="menu-main">{% trans 'BAĞLA'%}</div>
            <div class="lines-close">
                <div class="line-x line4"></div>
                <div class="line-x line5"></div>
                <div class="line-x line4"></div>
            </div>
        </div>

        <div class="navbar-menu-content">

            <ul>
                <a href="{% url 'about' %}"><li>{% trans 'HAQQIMIZDA'%}</li></a>
                <a href="{% url 'categories' %}"><li>{% trans 'MƏHSULLAR'%}</li></a>
                <a href="{% url 'projects' %}"><li>{% trans 'LAYİHƏLƏR'%}</li></a>
                <a href="{% url 'offers' %}"><li>{% trans 'TƏKLİFLƏR'%}</li></a>
                <a href="{% url 'clients' %}"><li>{% trans 'MÜŞTƏRİLƏR & TƏRƏFDAŞLAR'%}</li></a>
                <a href="{% url 'contact'%}"><li>{% trans 'ƏLAQƏ'%}</li></a>
            </ul>

            <div class="socials">
                {% for s in social %}
                <a href="{{s.url}}" target="_blank">
					{% if s.icon_font_tag == 'facebook'%}
                    <i class="fab fa-{{s.icon_font_tag}}-f"></i>
					{% else %}
					<i class="fab fa-{{s.icon_font_tag}}"></i>
					{% endif %}
                </a>

                {% endfor %} 
            </div>
        </div>

       
    </section>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="langmodal" style=" font-size: 12px;margin-bottom: 30px;margin-top: 10px;text-align: center;">Please select the country to proceed.</div>
      <div style="text-align: center;margin-bottom:10px;">

          <a href="https://torcheu.com/" target="_blank"><img class="langimage" src="{% static 'po.png'%}" style=" width: 70px;margin-right: 30px;    border-radius: 10px; "></a>
          <a href="https://torch.az/" target="_blank"><img class="langimage" src="{% static 'az.png'%}" style=" width: 70px;margin-right: 30px;    border-radius: 10px; "></a>
          <a href="https://torcheu.com/" target="_blank"><img class="langimage" src="{% static 'uz.png'%}" style=" width: 70px;margin-right: 30px;    border-radius: 10px; "></a>
          <a href="https://jvgroup.tj/" target="_blank"><img class="langimage" src="{% static 'tj.png'%}" style=" width: 70px;margin-right: 0px;    border-radius: 10px; "></a>
      </div>
  </div>

</div>

    <section class="about">
        <div class="my-container">
            <div class="about-head">
                <div class="title">
                    <h1>{{page.page_header}}</h1>
                    <p>{{page.page_header_text}} </p>
                </div>


            </div>

        </div>


    </section>


    <section class="about-page-content" style="padding-bottom:70px;">
        {% for p in products %}

        {% if forloop.counter|divisibleby:2 %}

         <div class="about-project-details container" style=" padding-top: 76px; padding-bottom: 0px; ">


              <div class="about-project-text" id="about-project"style=" height: unset; " >
                  <h1>{{p.name}}</h1>
                  <p class="project-p">{{p.excerpt}}</p>


              </div>
              <div class="about-project-img">
                  <img src="{{p.main_image.url}}" alt="">
              </div>
          </div>


        {% else %}

         <div class="about-project-details container" style=" padding-top: 76px; padding-bottom: 0px; ">
              <div class="about-project-img">
                  <img src="{{p.main_image.url}}" alt="">
              </div>

              <div class="about-project-text" id="about-project" style=" height: unset; " >
                  <h1>{{p.name}}</h1>
                  <p class="project-p">{{p.excerpt}}</p>


              </div>
          </div>

        {% endif %}







            {% endfor%}




    </section>




    <footer>
        <div class="footer-width">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-address">

<div class="address">
                         <p><a href="{% url 'about'%}" style=" color: black; margin-right: 5px; margin-left: 6px; ">{% trans 'Haqqımızda'%} </a> |  <a href="{% url 'categories'%}" style=" color: black; margin-right: 5px; margin-left: 6px; ">{% trans 'Məhsullar'%}  </a>|  <a href="{% url 'projects'%}" style=" color: black; margin-right: 5px; margin-left: 6px; ">{% trans 'Layihələr'%}  </a>|  <a href="{% url 'offers'%}" style=" color: black; margin-right: 5px; margin-left: 6px; ">{% trans 'Təkliflər'%}  </a>| <a href="{% url 'clients'%}" style=" color: black; margin-right: 5px; margin-left: 6px; "> {% trans 'Müştərilər & Tərəfdaşlar'%} </a> | <a href="{% url 'contact'%}" style=" color: black; margin-right: 5px; margin-left: 6px; "> {% trans 'Əlaqə'%}</a></p>
                        </div>
        
                        <div class="copyright">
                            {{general.copyright}}
                        </div>
                    </div>
        
                    <div class="footer-socials">
                        <div class="socials">
                           {%for s in social%}
                            <a href="{{s.url}}" target="_blank"><img src="{{s.icon.url}}" alt=""></a>
                            {% endfor %}
                        </div>
                        <div class="powered-by">
                           <a href="{{general.powered_by_url}}" target="_blank">
                            <img src="{{general.powered_by_logo.url}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/tab.js'%}"></script>

     <script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>