{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/slide.css'%}">
    <link rel="icon" type="image/x-icon" href="{{general.favicon.url}}">
    <title>Torch</title>
</head>
<body>

    <header>
        <nav>
            <a href="{% url 'index'%}">
                <div class="logo">
                    <img src="{{general.logo.url}}" alt="">
                   </div>
            </a>
            

            <div class="burger-menu menu-bar">
                <div class="menu-main">MENU</div>
                <div class="lines">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line1"></div>
                </div>
            </div>
        </nav>
    </header>

    <section class="burger-menu-content menu">

      
        <div class="x-btn close">
            <div class="x-btn-style">BAĞLA</div>
            <div class="lines-close">
                <div class="line-x line4"></div>
                <div class="line-x line5"></div>
                <div class="line-x line4"></div>
            </div>
        </div>

        <div class="navbar-menu-content">

            <ul>
                <a href="{% url 'about' %}"><li>HAQQIMIZDA</li></a> 
                <a href="{% url 'products' %}"><li>MƏHSULLAR</li></a>
                <a href="{% url 'projects' %}"><li>LAYİHƏLƏR</li></a>
                <a href="{% url 'offers' %}"><li>TƏKLİFLƏR</li></a>
                <a href="{% url 'clients' %}"><li>MÜŞTƏRİLƏR & TƏRƏFDAŞLAR</li></a>
                <a href="{% url 'contact'%}"><li>ƏLAQƏ</li></a>
            </ul>

            <div class="socials">
                {% for s in social %}
                <a href="{{s.url}}" target="_blank">
					{% if s.icon_font_tag == 'facebook'%}
                    <i class="fab fa-{{s.icon_font_tag}}-f"></i>
					{% else %}
					<i class="fab fa-{{s.icon_font_tag}}"></i>
					{% endif %}
                </a>

                {% endfor %} 
            </div>
        </div>

       
    </section>

    <section class="about">
        <div class="my-container">
            <div class="about-head">
                <div class="title">
                    <h1>{{project.title}}</h1>
                    <p>{{project.subtitle}} </p>
                </div>

                <div class="filter">
                    <div class="filters">
                        <a href="#about-project"> <span><img src="{% static 'svg/arrow.svg'%}" alt=""></span> <p>LAYİHƏ HAQQINDA</p></a>
                        <a href="#gallery"> <span><img src="{% static 'svg/arrow.svg'%}" alt=""></span> <p>QALEREYA</p></a>
                     
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="about-page-content">
        <div class="about-projects">
          <div class="about-project-details container">
              <div class="about-project-img">
                  <img src="{{project.image.url}}" alt="">
              </div>

              <div class="about-project-text" id="about-project">
                  <h1>LAYİHƏ HAQQINDA</h1>
                  <p class="project-p">{{project.description}}</p>

                  <div class="project-details">
                      <div class="details">
                          <h4>VƏZİYYƏT</h4>
                          <p>{{project.veziyyeti}}</p>
                      </div>
                      <hr>

                      <div class="details">
                        <h4>TİP</h4>
                        <p>{{project.tip}}</p>
                    </div>
                    <hr>

                    <div class="details">
                        <h4>SAHƏ</h4>
                        <p>{{project.sahe}}</p>
                    </div>
                    <hr>
                    <div class="details">
                        <h4>MÜDDƏT</h4>
                        <p>{{project.muddet}}</p>
                    </div>
                    <hr>
                    <div class="details">
                        <h4>YER</h4>
                        <p>{{project.yer}}</p>
                    </div>
                    <hr>
                    <div class="details">
                        <h4>MÜŞTƏRİ</h4>
                        <p>{{project.musteri}}</p>
                    </div>

                  </div>
              </div>
          </div>
        </div>
    </section>

<style>
    hr:not([size]) {
    height: 0.5px !important;
    color: #9b9b9b !important;
}
</style>
    <section class="slider" id="gallery">
                <div class="container-fluid">
                    <div class="row row-width">
                      <div style=" margin-top: 8px; " class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                        
                        <div class="ig-box d-flex flex-rows justify-content-space-between align-items-center">
						{% for i in project.gallery.all %}
                          <div class="mx-1"><img class="c{{forloop.counter}}" data-id="{{forloop.counter}}" src="{{i.image.url}}" alt=""/></div>
                           {% endfor %}
                        </div>
                      </div>
                      
                      <div class="col-lg-12">
                        <div class="ig-view pt-2 px-1 d-flex flex-column justify-content-center align-items-center">
                          <img class="" src="{{project.image.url}}" alt=""/>
                  
                          <div class="right d-flex flex-column justify-content-center align-items-center"> <img src="{% static 'svg/right-arrow.svg'%}" alt=""> </div>
                          <div class="left d-flex flex-column justify-content-center align-items-center"> <img src="{% static 'svg/arrow-left.svg'%}" alt=""> </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="white-space">

                  </div>
      
    </section>



    <footer>
        <div class="footer-width">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-address">
                        <div class="address">
                            <p>{{general.address}}</p>
                            <p>{{general.email}}</p>
                        </div>
        
                        <div class="copyright">
                            {{general.copyright}}
                        </div>
                    </div>
        
                    <div class="footer-socials">
                        <div class="socials">
                           {%for s in social%}
                            <a href="{{s.url}}" target="_blank"><img src="{{s.icon.url}}" alt=""></a>
                            {% endfor %}
                        </div>
                        <div class="powered-by">
                            <a href="{{general.powered_by_url}}" target="_blank">
                            <img src="{{general.powered_by_logo.url}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>

    
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slide.js'%}"></script>
    

    
</body>
</html>